<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loaderModal">
  Launch demo modal
</button>

<!-- Modal -->
<div  class="modal fade show" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--******************************loaderpop Starts******************************-->
    <div class="loaderpop" id="">
      <div class="loaderpop-inner">
        <div class="loaderpop-inner-cnt">
          <div class="lds-dual-ring"></div>
          <div class="lds-dual-ring-s"></div>
        </div>
        <p>Loading...</p>

      </div>
    </div>
    <!--******************************loaderpop Ends******************************-->
  </div>
</div>
