
    <h1  id="brandLogo" class="text-center">
        <a><img src="./assets/img/firstdata_logo.svg"></a>
    </h1>
    <div class="formWrap ">
        <div class="formWrapInner">
            <ul class="nav nav-tabs" id="signin-tab" role="tablist">
                <li class="nav-item w-50 text-right">
                    <a class="nav-link " id="home-tab" data-toggle="tab" href="#signin" role="tab"
                       aria-controls="home" aria-selected="true">Sign In</a>
                </li>
                <li class="nav-item w-50">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#signup" role="tab"
                       aria-controls="profile" aria-selected="false">Sign Up</a>
                </li>

            </ul>




            <div class="tab-content" id="signin-tab-content">



                <!--Sign in Tab Starts-->
                <div class="tab-pane fade  " id="signin" role="tabpanel" aria-labelledby="signin-tab">
                    <p class="loginDesc">Please complete all fields below</p>

                    <!-- signin Page  form -->
                    <!-- use reactive form for signin-->




                    <!-- Start if signin form -->
                    <form>
                        <div class="form-group emailWrap">
                            <input type="text" class="form-control"  placeholder="Enter Email" >
                           

                        </div>
                        <div class="form-group passwordWrap">
                            <input type="password" class="form-control" placeholder="Enter Password"   >
                           
                        </div>

                        <br>
                        <br>
                        <br>
                        <button type="submit"   class="btnSubmit btn btn-primary btn-lg btn-block">
                            Submit
                        </button>
                        <br>
                        <br>
                        

                    </form>
                    <p class="text-center footerTxt ">Forgot Password? <a  class=""><b>Reset </b></a></p>

                    <!-- end of sign IN form-->
                </div>

                <!-- Start of signUP form -->





                <!--Sign UP Tab Starts-->

                <div class="tab-pane fade show active" id="signup" role="tabpanel"
                     aria-labelledby="signup-tab">
                    <p class="loginDesc">Please complete all fields below</p>

                <!-- start of sign UP form -->

 
                    <form  #register="ngForm">


                        <div class="form-group">
                            <input   type="text" class=" form-control" placeholder="Reference Key" name="referenceKey" ngModel required > 
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control " placeholder="Lease Number" name="leaseNumber" ngModel  required >                           
                        </div>
                       
                        <div class="form-group">
                            <input type="text" class="form-control " placeholder="Merchant DBA"  name="merchantDBA" ngModel required>                            
                        </div>


                        <div class="form-group">
                                <re-captcha
                                [(ngModel)]="captchaValue"
                                name="captcha"
                                required
                              ></re-captcha>
                        </div>


                        <button type="button" 
                                class="btnSubmit btn btn-primary btn-lg btn-block" (click)="submit()" [disabled]="!register.valid" >Submit
                        </button>
                        <br>
                        <br>
                        
                       
                           

                    </form>  
                    
                    <p class="text-center footerTxt ">Already have an account? <a   class=""><b>Sign In</b></a></p>


                    <!-- end of signUp form -->


                </div>
            
               

        </div>
       
    </div>
    
</div>



