<div class="col-12 db-inner-wrap   ">
  <!--breadcrums Starts Here-->
  <div class="db-bread-wrap">
    <ol class="breadcrumb  w-100">
      <li class="breadcrumb-item">urLease</li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>

  </div>
  <!--wraper for FAQ-->
  <div class="db-inner-box col-12 contactWrap ">
    <div class="faqWrap">Contact</div>
    <div class="btmBorder"></div>
    <p>Customer Service:<a style="color: #3e3e3e;" href="tel:+1 877-257-2094"> +1 877-257-2094</a></p>



  </div>



</div>



