<div class="txtInnerWrap  ">
  <h1>{{heading}}</h1>
  <p innerHTML="{{description}}"></p>
  <h1 class="clrFix" *ngIf="locked">877-257-2094</h1>
  <div class="row">
    <div class="cookies-wrap signup-wrap newUser" >
      <p> 2018-2019 First Data Corporation. All Rights Reserved.&nbsp;<a href="https://www.firstdata.com/en_us/privacy.html"
                                                                   target="blank">Privacy.</a></p>
      <p>This site uses cookies. By continuing to browse the site you are agreeing to our <a target="target"
                                                                                             [routerLink]="['/cookiesdisclosure']">Cookies.</a></p>
    </div>
  </div>
</div>
