<div *ngIf="showTabs">
  <!--Lease tabs Starts Here-->

  <div class="db-lease-tab col-12 ">

    <!-- Nav pills -->
    <ul class="nav nav-pills" >
      <li class="nav-item col-6 col-sm-6 col-md-3">
        <a *ngIf="selectedLease['legalStatus']!='Default'" (click)="getPage('Equipment')" class="nav-link" [attr.index]="1"  [ngClass]="{'active show': selectedIndex == '1' }"  data-toggle="pill" href="#Equipment">Equipment</a>
        <a *ngIf="selectedLease['legalStatus']=='Default'" (click)="getPage('Equipment')" class="nav-link" data-toggle="pill" href="#Equipment">Equipment</a>
      </li>

      <li class="nav-item  col-6 col-sm-6 col-md-3"
          *ngIf=" selectedLease['legalStatus']=='Current' || selectedLease['legalStatus']=='Default'">

        <a *ngIf="selectedLease['legalStatus']!='Default'" (click)="getPage('Payment')" class="nav-link" [attr.index]="2"  [ngClass]="{'active show': selectedIndex == '2' }"   data-toggle="pill" href="#Payment">Payment</a>
        <a *ngIf="selectedLease['legalStatus']=='Default'" (click)="getPage('Payment')" class="nav-link active show" data-toggle="pill" href="#Payment">Payment</a>
      </li>
      <li class="nav-item col-6 col-sm-6 col-md-3">
        <a *ngIf="selectedLease['legalStatus']!='Default'" (click)="getPage('Contract Status')" class="nav-link" [attr.index]="3"  [ngClass]="{'active show': selectedIndex == '3' }"  data-toggle="pill" href="#Contract">Contract Status</a>
        <a *ngIf="selectedLease['legalStatus']=='Default'" (click)="getPage('Contract Status')" class="nav-link" data-toggle="pill" href="#Contract">Contract Status</a>
      </li>
      <li class="nav-item col-6 col-sm-6 col-md-3"
          *ngIf=" selectedLease['legalStatus']=='Current' || selectedLease['legalStatus']=='Default'">
          <a class="nav-link" [attr.index]="4"  [ngClass]="{'active show': selectedIndex == '4' }"  data-toggle="pill" href="#Coverage" (click)="ec('Equipment Coverage')">Equipment Coverage</a>
      </li>
    </ul>

    <!-- Tab panes -->


  </div>


  <!--Lease tabs Cnts Starts Here-->
  <div class="btmTabCtrl ">
    <div class="db-lease-tab-cnt p-0 col-12 ">


      <!--Tab  Cnt Wrapper Starts-->

      <div class="tab-content" *ngIf="selectedLease">
        <!--Equipment Tab Cnt starts-->
        <div class="tab-pane container-fluid" [ngClass]="{'active show': selectedIndex == '1' }"  id="Equipment">

          <div class="card">
            <div class="card-header text-center">
              <label>Lease Status:</label>
              <span class="statusWrap">{{selectedLease['legalStatus']}}</span>
              <br>

              <div class="styletwo">
                <span class="">NON-CANCELLABLE</span>
                <span class="">Lease</span>
              </div>


            </div>

            <div class="card-body">
              <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">

                      <div class="carousel-item active">
                        <div class="roww">
                          <div class="owl-outer-wrap">


                        <div class="">
                            <!-- <div class="pn-wrap">
                                <div class="lease-prev"><img src="/assets/img/lftarrow.svg"></div>
                                <div class="lease-next"><img src="/assets/img/rytarrow.svg"></div>
                              </div>-->
                            <!-- <div class=""> -->
                              <owl-carousel
                              [options]="{items: 3, dots: false, nav: true, responsive: { '0': {  items: 1, margin:2 },
                              '480': { items: 1, margin:2 },
            '640': { items: 2 }
                         }, autoWidth: true, center:false}"
                            [items]="selectedLease.equipments"
                            [carouselClasses]="['owl-theme', 'sliding']">
                          <div class="item"
                               *ngFor="let item of selectedLease['equipments'];"
                          >

                            <div class="cus-card owl-inner-wrap">
                              <ul>
                                <li>
                                  <label>Equipment:</label>
                                  <br>
                                  <span class="">{{item['equipment']}}</span>
                                </li>
                                <li>
                                  <label>Make and Model:</label>
                                  <br>
                                  <span class="">{{item['makeAndModel']}}</span>
                                </li>
                                <li>
                                  <label>Serial number:</label>
                                  <br>
                                  <span class="">{{item['serialNumber']}}</span>
                                </li>
                                <li>
                                  <label>Equipment Status:</label>
                                  <br>
                                  <span class="">{{item['leaseStatus']}}</span>
                                </li>
                              </ul>

                            </div>
                            </div>
                          </owl-carousel>
                          </div>
                        </div>

                      </div>

                    </div>


                </div>

              </div>
              <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a> -->


              </div>
            </div>
          </div>



        <!--Payment Tab Cnt starts-->
        <div class="tab-pane container-fluid"  [ngClass]="{'active show': selectedIndex == '2' }" id="Payment">
          <div class="card">
            <div class="card-header text-center">
              <label>Lease Status:</label>
              <span class="statusWrap">{{selectedLease['legalStatus']}}</span>
              <br>

              <div class="styletwo">
                <span class="">NON-CANCELLABLE</span>
                <span class="">Lease</span>
              </div>


            </div>

            <div class="card-body py-2">

              <h6 *ngIf="selectedLease['legalStatus']=='Default'">Your payment is past due!<br
                class="d-block d-lg-none d-xl-none"> <span
                class="paymentWrap"
                data-toggle="modal"
                data-target="#paymentpop"
                (click)="showAlerts()">Click here for next steps</span>
              </h6>
              <!--<div class="alertWrap  float-right d-inline-block" data-toggle="modal" data-target="#paymentpop">-->
              <!--<img src="img/alert.svg">-->
              <!--<br>-->
              <!--<span class="clearfix">Alert</span>-->
              <!--</div>-->
              <div class="row">
                <table class="table ">

                  <tbody>
                  <tr>
                    <td>Lease Status</td>
                    <td>{{selectedLease['legalStatus']}}</td>
                  </tr>
                  <tr>
                    <td>


                      <div class="toopwrap">
                        <span class="cbalance">Current Balance</span>
                        <a id="currentbala-trigger" class="btn">
                        </a>
                        <span class="tooltip2" id="currentbala-tooltip" style="display: none;">
                          Current balance represents the outstanding amount on your lease. This is not the amount required to pay the lease in full.
                                                <div class="Buyout arrowwrap"><img src="/assets/img/blue_triangle.svg"></div>

                        </span>
                      </div>
                    </td>
                    <td>{{ selectedLease['payment']['currentBalance'] | add_comma_pipe }}</td>
                  </tr>
                  <tr class="d-none">
                    <td>Last Payment</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Total Mimimum Due</td>
                    <td>{{selectedLease['payment']['totalDue'] | add_comma_pipe}}</td>
                  </tr>
                  <tr>
                    <td>Payment Due Date</td>
                    <td>{{selectedLease['payment']['paymentDueDate']}}</td>
                  </tr>
                  <tr>
                    <td>Days Past Due</td>
                    <td>{{selectedLease['payment']['daysPastDue']}}</td>
                  </tr>
                  <tr>
                    <td>Past Payment Due</td>
                    <td>{{selectedLease['payment']['pastPaymentDue'] | add_comma_pipe}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>


            </div>
          </div>

        </div>
        <!--Contract Status Tab Cnt starts-->

        <div class="tab-pane container-fluid" [ngClass]="{'active show': selectedIndex == '3' }" id="Contract">
          <div class="card">
            <div class="card-header text-center">
              <label>Lease Status:</label>
              <span class="statusWrap">{{selectedLease['legalStatus']}}</span>
              <br>

              <div class="styletwo">
                <span class="">NON-CANCELLABLE</span>
                <span class="">Lease</span>
              </div>


            </div>

            <div class="card-body py-5">


              <div class="row">

                <!--col one-->
                <div class="col-12 contracttest">
                  <ul>
                    <!--Lease Status:-->
                    <li class="col-md-6 col-lg-3">
                      <label>Lease Status:</label>
                      <span class="">{{selectedLease['legalStatus']}}</span>
                    </li>
                    <!--End Date-->
                    <li class="col-md-6 col-lg-3"
                        *ngIf="  selectedLease['contractStatus']['endDate'] | is_Greater_Than_Current_Date ">
                      <label>End date:</label>
                      <span class="">{{selectedLease['contractStatus']['endDate']}}</span>
                    </li>
                    <!--Past Due Amount:-->
                    <li class="col-md-6 col-lg-3" *ngIf=" selectedLease['legalStatus']=='Default'">
                      <label>Past Due Amount:</label>
                      <span class="">{{selectedLease['contractStatus']['pastDueAmount'] | add_comma_pipe}} </span>
                    </li>
                    <!--Buyout Quote:-->
                    <li *ngIf="selectedLease['contractStatus']['buyoutQuote']!== undefined" class="toopwrap col-md-6 col-lg-3">

                      <label>Buyout Quote:

                        <a id="Buyout-trigger" class="btn">
                        </a>
                        <span class="tooltip2" id="Buyout-tooltip" style="display: none;">
                          This quote includes buying out your lease and you keeping the equipment.  For a different Buyout Quote in returning the equipment contact customer service at:<a style="color: white;" href="tel:+1 877-257-2094"> +1 877-257-2094.</a>
                        <div class="Buyout arrowwrap"><img src="/assets/img/blue_triangle.svg"></div>
                        </span>


                      </label>
                      <span class="">{{selectedLease['contractStatus']['buyoutQuote'] | add_comma_pipe}}</span>
                      <div class="popwrap" [ngClass]="{'d-none':!openBuyOutInfo }">

                      </div>
                    </li>


                    <!--Lease Term:-->
                    <li class="col-md-6 col-lg-3">
                      <label>
                        Lease Term:</label>
                      <span class="">{{selectedLease['contractStatus']['leaseTerm']}}</span>
                    </li>
                    <!--Payments Made:-->
                    <li class="col-md-6 col-lg-3">
                      <label>Payments Made:</label>
                      <span class="">{{selectedLease['contractStatus']['paymentsMade']}}</span>
                    </li>
                    <!--Days Past Due:-->
                    <li class="col-md-6 col-lg-3" *ngIf=" selectedLease['legalStatus']=='Default'">
                      <label>Days Past Due:</label>
                      <span class="">{{selectedLease['contractStatus']['daysPastDue']}}</span>
                    </li>
                    <!--Equipment Coverage::-->
                    <li class="col-md-6 col-lg-3">
                      <label>Equipment Coverage:
                      </label>
                      <span class="">{{selectedLease['contractStatus']['eppInrolled']}}</span>
                    </li>


                    <!--Start Date:-->
                    <li class="col-md-6 col-lg-3">
                      <label>Start Date:</label>
                      <span class=""> {{selectedLease['contractStatus']['startDate']}} </span>
                    </li>
                    <!--Payment Amount:-->
                    <li class="col-md-6 col-lg-3">
                      <label>
                        Payment Amount:</label>
                      <span class="">{{selectedLease['contractStatus']['paymentAmount'] | add_comma_pipe}}</span>
                    </li>
                    <!--Personal Guarantor:-->
                    <li class="col-md-6 col-lg-3">
                      <label>Personal Guarantor:</label>
                      <span class="">{{selectedLease['contractStatus']['personalGurantor']}}</span>
                    </li>
                    <!--Cost of EPP:-->
                    <li class="col-md-6 col-lg-3" *ngIf="selectedLease['contractStatus']['eppInrolled'] != 'Yes'">
                      <label>
                        Cost of EPP:</label>
                      <span class="">{{selectedLease['contractStatus']['eppAmount'] | add_comma_pipe}}</span>
                    </li>


                    <!--d-none-->

                    <!--<li class="d-none">-->
                    <!--<label>Bank Routing Number:</label>-->
                    <!--<span class=""> </span>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;d-none&ndash;&gt;-->

                    <!--<li class="d-none">-->
                    <!--<label>Bank Account Number:</label>-->
                    <!--<span class=""></span>-->
                    <!--</li>-->


                    <!--d-none-->
                    <!--<li class="d-none">-->
                    <!--<label>Property Tax Handling Fee:</label>-->
                    <!--<span class=""></span>-->
                    <!--</li>-->


                  </ul>


                </div>


              </div>
              <h6 class="d-none">Your account has beed handed over to the following collection agency:
                <br>
                <span>{{selectedLease['contractStatus']['AgencyInformation']}}</span></h6>


            </div>
          </div>
        </div>

        <!--Equipment Coverage Tab Cnt starts-->

        <div class="tab-pane container-fluid" [ngClass]="{'active show': selectedIndex == '4' }" id="Coverage">

          <div class="card">
            <div class="card-header text-center">
              <label>Lease Status:</label>
              <span class="statusWrap">{{selectedLease['legalStatus']}}</span>
              <br>

              <div class="styletwo">
                <span class="">NON-CANCELLABLE</span>
                <span class="">Lease</span>
              </div>
            </div>

            <div class="card-body py-5">
              <ul>
                <li>
                  <label>Equipment Coverage:</label>
                  <span class="">{{selectedLease['equipmentCoverage']['equipmentCoverage']}}</span>
                </li>
                <li *ngIf="selectedLease['equipmentCoverage']['equipmentCoverage'] != 'No'">
                  <label>Equipment Coverage Type:</label>
                  <span class="">{{selectedLease['equipmentCoverage']['equipmentCoverageType']}}</span>
                </li>
                <li *ngIf="selectedLease['equipmentCoverage']['equipmentCoverage'] != 'No'">
                  <label>
                    Equipment Coverage Company:</label>
                  <span class=""> {{selectedLease['equipmentCoverage']['equipmentCoverageCompaney']}}</span>
                </li>

                <li
                  *ngIf="selectedLease['equipmentCoverage']['equipmentCoverageCompaney'] != 'FIRST DATA' && selectedLease['equipmentCoverage']['equipmentCoverage'] != 'No'">

                  <label>Policy Number:</label>
                  <span class="">{{selectedLease['equipmentCoverage']['insurancePolicyNumber']}}</span>

                </li>
                <li
                  *ngIf="selectedLease['equipmentCoverage']['equipmentCoverageCompaney'] != 'FIRST DATA' && selectedLease['equipmentCoverage']['equipmentCoverage'] != 'No'">
                  <label>Start Date:</label>
                  <span class="">{{selectedLease['equipmentCoverage']['startDate']}} </span>
                </li>
                <li
                  *ngIf="selectedLease['equipmentCoverage']['equipmentCoverageCompaney'] != 'FIRST DATA' && selectedLease['equipmentCoverage']['equipmentCoverage'] != 'No'">
                  <label>End date:</label>
                  <span class=""> {{selectedLease['equipmentCoverage']['endDate']}} </span>
                </li>

              </ul>
              <h6> For information regarding how to raise a claim
                <a [routerLink]="['/dashboard/claims']">Click
                  Here
                </a>
              </h6>
            </div>
          </div>


        </div>

        <br><br>
      </div>
      </div>

    </div>

  </div>
<payment-help-popup></payment-help-popup>
