<div class="col-12 db-inner-wrap faq-o-wrap ">
  <!--breadcrums Starts Here-->
  <div class="row db-bread-wrap bg-warning">
    <div class="pdfDownload"><a target="_blank"
                                href="https://www.firstdata.com/downloads/marketing-merchant/Global_Leasing_FAQ_FNL_USA_072015.pdf">
      <img src="/assets/img/download.svg">Download
      PDF</a></div>
    <ol class="breadcrumb  w-100">
      <li class="breadcrumb-item">urLease</li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">FAQ</li>
    </ol>


  </div>
  <!--wraper for FAQ-->
  <div class="db-inner-box col-12 eol">
    <div class="faqWrap">Frequently Asked Questions</div>
    <div class="row">
      <div id="accordion" class="faq-wrap">
        <!--FAQ 01 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-01">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker  " data-toggle="collapse" data-target="#faq-a-01"
                 aria-expanded="true" aria-controls="collapseOne">
                I'd like to cancel my lease, what are my options? </a>
            </h5>
          </div>

          <div id="faq-a-01" class="collapse show " aria-labelledby="faq-q-01"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>Leases are non-cancelable agreements. At any time during the term of your lease (before maturity of the
                initial term), you may contact Global Leasing for a quote to buy out the remainder of your term at (877)
                257-2094.</p>


            </div>
          </div>
        </div>
        <!--FAQ 02 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-02">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-02"
                 aria-expanded="true" aria-controls="">
                Where do I send my equipment at the end of my lease?</a>
            </h5>
          </div>

          <div id="faq-a-02" class="collapse " aria-labelledby="faq-q-02"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                Please use UPS, USPS, or FedEx (Canada Post for Canadian clients) and ship your equipment to:</p>

              <p class="font-weight-bold">TASQ Technologies</p>

              <p>1169 Canton Road</p>

              <p>Marietta, GA 30066</p>

              <p class="font-italic">Please e-mail the tracking number to <a
                href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a> and
                reference your Merchant ID#
                and/or Lease # in the e-mail.</p>


            </div>
          </div>
        </div>
        <!--FAQ 03 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-03">

            <!--question starts-->
            <h5 class="mb-0">
              <a class=" marker btn-link collapsed " data-toggle="collapse" data-target="#faq-a-03"
                 aria-expanded="true" aria-controls="">
                Will I be invoiced for my monthly lease payment? On what day of the month will First Data Global
                Leasing debit my bank account for lease payments? Can I adjust this date?</a>
            </h5>
          </div>

          <div id="faq-a-03" class="collapse " aria-labelledby="faq-q-03"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                You will not receive a paper invoice/statement. Payments are made via electronic debit and the payment
                will be reflected as "FDGL Lease Pymt" on your bank account statement.</p>

              <p>The date that First Data Global Leasing will debit your bank account for lease payments is dependent
                upon the date of the month that your lease was activated in our system. To determine this date, please
                refer to the welcome letter you received at the beginning of your lease term or send an inquiry to
                <a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>
                with your Merchant ID # and/or Lease #. You will typically receive a
                response within 24-48 hours (excluding weekends).</p>

              <p>You do have the ability to change your billing cycle. To do so, please send your detailed request to
                FDGLClientServices@firstdata.com along with your Merchant ID # and/or Lease #. You will typically
                receive a response within 24-48 hours (excluding weekends)</p>


            </div>
          </div>
        </div>
        <!--FAQ 04 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-04">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-04"
                 aria-expanded="true" aria-controls="">
                What are the lease terms?</a>
            </h5>
          </div>

          <div id="faq-a-04" class="collapse " aria-labelledby="faq-q-04"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>

                For a complete disclosure of the terms and conditions of your equipment lease, please send your request
                to <a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>.
                You will typically receive a response within 24-48 hours (excluding
                weekends).</p>


            </div>
          </div>
        </div>
        <!--FAQ 05 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-05">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-05"
                 aria-expanded="true" aria-controls="">
                What is Interim Rent?</a>
            </h5>
          </div>

          <div id="faq-a-05" class="collapse " aria-labelledby="faq-q-05"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                <!--<a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>-->


                Interim Rent is the per diem charge assessed for the period between the delivery date and your initial
                payment date (partial monthly payment). It is possible that Interim Rent will not be charged until your
                second payment depending on when your lease agreement was commenced.</p>

              <p><b>For example:</b> If your delivery date was the 20th of the month and your due date is the 1st of the
                next
                month, your first payment would include 10 days of Interim Rent plus your first month's rental payment
                (rentals are billed in advance). In this example, if your monthly payment is $40, your first payment
                would be $13.33 (10 days) + $40 (first month's rent) = $53.33 plus tax.</p>


            </div>
          </div>
        </div>
        <!--FAQ 06 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-06">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-06"
                 aria-expanded="true" aria-controls="">
                What is a Property Tax Fee, and why do I have to pay it if Global Leasing owns the equipment?</a>
            </h5>
          </div>

          <div id="faq-a-06" class="collapse " aria-labelledby="faq-q-06"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                <!--<a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>-->


                Pursuant to section 4b of your equipment lease agreement, Global Leasing is assessing a handling fee to
                process any taxes that are required by your state and local government for the use of your leased
                equipment. A letter will be sent 30 days in advance of this annual charge to indicate the amount that
                will be assessed and charged on your next billing date. The charge will be included in the total amount
                debited from your checking account.</p>

              <p>Under the terms of the lease agreement, the lessee agrees to reimburse First Data Global Leasing for
                any
                such taxes paid on the leased equipment, and for the costs incurred in processing.</p>


            </div>
          </div>
        </div>
        <!--FAQ 07 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-07">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-07"
                 aria-expanded="true" aria-controls="">
                I've changed processing companies, will my equipment still work? What should I do?</a>
            </h5>
          </div>

          <div id="faq-a-07" class="collapse " aria-labelledby="faq-q-07"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                <!--<a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>-->


                Global Leasing makes no representations or warranties that your equipment will be compatible with
                another processing company. If you have already changed processors, please contact that processor
                directly and inquire about the compatibility of your current equipment.</p>


            </div>
          </div>
        </div>
        <!--FAQ 08 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-08">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-08"
                 aria-expanded="true" aria-controls="">
                I've changed bank accounts, who can I contact to update this?
              </a>
            </h5>
          </div>

          <div id="faq-a-08" class="collapse " aria-labelledby="faq-q-08"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                <!--<a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>-->

                To notify First Data Global Leasing of a change in bank accounts, please fax a copy of a voided check or
                bank letter to (402) 916-8540 and reference your Merchant ID # or Lease #.</p>


            </div>
          </div>
        </div>
        <!--FAQ 09 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-09">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-09"
                 aria-expanded="true" aria-controls="">
                What happens to my lease if I sell my business?
              </a>
            </h5>
          </div>

          <div id="faq-a-09" class="collapse " aria-labelledby="faq-q-09"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>


                It is possible to transfer or assign the lease to a new owner, depending on the circumstances. Please
                e-mail your request for Transfer and Assumption paperwork to <a
                href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>. You
                will
                typically receive a response within 24-48 hours (excluding weekends). Please be aware that the original
                owner will be assessed a $150 service fee that will be charged once the transfer takes place. Please
                note that this process may take up to 30 days.</p>


            </div>
          </div>
        </div>

        <!--FAQ 11 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-11">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-11"
                 aria-expanded="true" aria-controls="">
                How can I get a copy of my lease agreement?</a>
            </h5>
          </div>

          <div id="faq-a-11" class="collapse " aria-labelledby="faq-q-11"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                <!--<a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>-->


                To obtain a copy of your lease agreement, please contact the Global Leasing Customer Service Department
                at (877) 257-2094.</p>


            </div>
          </div>
        </div>
        <!--FAQ 12 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-12">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-12"
                 aria-expanded="true" aria-controls="">
                I want to upgrade my equipment, what are my options?</a>
            </h5>
          </div>

          <div id="faq-a-12" class="collapse " aria-labelledby="faq-q-12"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>
                <!--<a href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>-->


                Flexibility is one of the greatest benefits of leasing equipment. Please contact your merchant
                processing company to find out more about upgrading your equipment.</p>


            </div>
          </div>
        </div>
        <!--FAQ 13 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-13">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-13"
                 aria-expanded="true" aria-controls="">
                How do I get a Letter of Satisfaction?
              </a>
            </h5>
          </div>

          <div id="faq-a-13" class="collapse " aria-labelledby="faq-q-13"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>

                To obtain a Letter of Satisfaction, please send a request to <a
                href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>
                and be
                sure to reference your Merchant ID # or Lease #. You will typically receive a response within 24-48
                hours (excluding weekends).</p>


            </div>
          </div>
        </div>
        <!--FAQ 14 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-14">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-14"
                 aria-expanded="true" aria-controls="">
                Am I required to insure my leased equipment?

              </a>
            </h5>
          </div>

          <div id="faq-a-14" class="collapse " aria-labelledby="faq-q-14"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>

                To obtain a Letter of Satisfaction, please send a request to <a
                href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>
                and be
                sure to reference your Merchant ID # or Lease #. You will typically receive a response within 24-48
                hours (excluding weekends).</p>

              <p>
                You are required to provide proof of insurance with FDGL listed as a loss payee within thirty (30) days
                of the start of your lease term.</p>

              <p>Please e-mail a copy of your proof of insurance to <a
                href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a>, or,
                for your
                convenience, we can provide an equipment protection program through First Data Global Leasing. A
                representative will contact you within the first thirty (30) days of your lease. For more information
                about the coverage included in First Data's equipment protection program, please call our Equipment
                Protection team at (800) 879-0137.


              </p>


            </div>
          </div>
        </div>


      </div>
    </div>


  </div>


</div>
