.Loading {
  width: 83px;
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #0072ce;
  color: var(--cerulean);
}

.Double-Ring-15s-200px {
    width: 60px;
    height: 60px;
  }