<div id="signWrap" class=" h-100 container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="brandLogo" class="text-center">
        <a>
          <img src="./assets/img/firstdata_logo.svg">
        </a>
      </h1>
      <div class="formWrap ">
        <div class="formWrapInner">
          <br>

          <h1 class="headingWrap">Change Your Password</h1>
          <div class="tab-content" id="signin-tab-content">

            <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
              <p class="loginDesc">Please complete all fields below</p>



              <form  #changePassword="ngForm">
                <div class="form-group">
                  <input type="password" class="form-control"  placeholder="temp password" name="tempPass" ngModel required >
                  
                 
                </div>
                <div class="form-group">
                  <input type="password" class="form-control " placeholder="Enter New Password" name="newPass" ngModel required>
                  
                </div>
                <div class="form-group">
                    <input type="password" class="form-control " placeholder="Re-confirm Password" name="reCnfPass" ngModel required>
                    
                  </div>
               
                <div class="form-group">
                    <re-captcha
                                [(ngModel)]="captchaValue"
                                name="captcha"
                                required
                              ></re-captcha>
                </div>

                


                <br>
                <br>


                <button type="submit" (click)="landPage()" class="btnSubmit btn btn-primary btn-lg btn-block" [disabled]="!changePassword.valid">Submit
                </button>
                <br>
                <br>


              </form>

            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>