/*********************
VARIABLES Starts Here.
*********************/
/*importing fonts*/
@font-face {
  font-family: SimpleSans-Medium;
  src: url(../fonts/simplesans-medium-webfont.ttf); }
@font-face {
  font-family: SimpleSans-Bold;
  src: url(../fonts/simplesans-bold-webfont.ttf); }
@font-face {
  font-family: SimpleSans-Black;
  src: url(../fonts/simeplesans-black-webfont.ttf); }
@font-face {
  font-family: SimpleSans-Regular;
  src: url(../fonts/simplesans-regular-webfont.ttf); }
/*********************************** variables  ENDS here *********************************/
/*********************
Mixings Starts Here.
*********************/
/*********************************** bootstrap-overrides  STARTS here *********************************/
a {
  color: #0072ce; }
  a:hover, a:focus, a:active {
    color: #00569b; }

.btn-primary {
  background-color: #0072ce !important;
  border-color: #0072ce !important;
  color: #fff !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #00569b !important;
    border-color: #00569b !important; }

.btn-secondary {
  background-color: #ec000a !important;
  border-color: #ec000a !important;
  color: #fff !important; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #b90008 !important;
    border-color: #b90008 !important; }

.btn-dark {
  color: #fff !important; }

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700; }

.bg-primary {
  background-color: #0072ce !important; }

.text-primary {
  color: #0072ce !important; }

.text-secondary {
  color: #ec000a !important; }

/*********************************** bootstrap-overrides ENDS here *********************************/
/*********************************** layout STARTS here *********************************/
body, html {
  height: 100%;
  min-height: 100%;
  font: 12px SimpleSans-Regular, Helvetica, sans-serif;
  font-weight: normal; }

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2 / 3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px; } }
/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40 / 71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px; } }
/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375 / 667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px; } }
/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9 / 16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px; } }
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px; }

input[type="text"]:focus,
textarea:focus {
  -webkit-text-size-adjust: 100%; }

input[type=text], input[type=password] {
  font-family: SimpleSans-Bold, Helvetica, sans-serif !important;
  color: #616365 !important; }

.img-ctrl {
  max-width: 100%; }

#land-wrap {
  background: #fff; }
  #land-wrap .land-cnt-01 li span {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    color: #0072ce;
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }
  #land-wrap .order-md-last .landbgclr {
    background: red; }
  #land-wrap .order-md-last ul li {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    color: #4f4f4f;
    font-size: 11px;
    font-weight: normal;
    line-height: 22px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }
    #land-wrap .order-md-last ul li span {
      font-family: SimpleSans-Bold, Helvetica, sans-serif;
      color: #0072ce;
      font-size: 11px;
      font-weight: normal;
      line-height: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal; }
      #land-wrap .order-md-last ul li span.stBld {
        font-family: SimpleSans-Bold, Helvetica, sans-serif;
        color: #4f4f4f;
        font-size: 11px;
        font-weight: normal;
        line-height: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        margin-right: 2px; }
  #land-wrap p {
    color: #4f4f4f;
    font-size: 1.16rem;
    line-height: 1.58; }
  #land-wrap ul {
    padding: 14px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
    #land-wrap ul li {
      margin-bottom: 15px;
      font-family: SimpleSans-Bold, Helvetica, sans-serif;
      color: #4f4f4f;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal; }
      #land-wrap ul li span {
        color: #0072ce;
        font-family: SimpleSans-Bold, Helvetica, sans-serif;
        color: #0072ce;
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        display: inline-block;
        margin-right: 10px; }

.land-head {
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 1; }
  .land-head h1 {
    padding: 0px;
    margin: 0px;
    line-height: 0px; }
  .land-head .butSpacer {
    display: inline-block;
    width: 14px; }

.land-head {
  width: 100%; }

.fd-Heading {
  font-family: SimpleSans-Black;
  color: #17405f;
  font-size: 1.83rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.86;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

.fd-SubHeading {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  color: #17405f;
  font-size: 1.5rem;
  margin-bottom: 20px; }

.land-hero {
  width: 100%; }

.land-hero-cnt {
  position: absolute;
  right: 0px;
  width: 50%;
  display: table; }
  .land-hero-cnt .land-hero-cnt-inner {
    display: table-cell;
    vertical-align: middle; }

.fd-but-sign {
  width: 125px;
  border-radius: 16px;
  border: solid 0.5px #17405f;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: SimpleSans-Medium, Helvetica, sans-serif;
  color: #17405f;
  padding: 0px;
  height: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: white; }
  .fd-but-sign:hover {
    background: #0a405f;
    color: white; }
  .fd-but-sign .norTxt {
    font-size: inherit;
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #000000; }

.txtInnerWrap h1 {
  color: #004165; }

/*********************************** layout ENDS here *********************************/
/*********************************** login  STARTS here *********************************/
.testWrap {
  height: 130px; }

.th-outer-wrap .th-logowrap {
  margin-top: 20px; }
.th-outer-wrap .th-head {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 20px; }
.th-outer-wrap .th-txt, .th-outer-wrap .th-txt-sm {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000; }
.th-outer-wrap .th-txt-sm a {
  font-size: 12px !important;
  color: #000000 !important; }
.th-outer-wrap .th-txt-sm {
  font-size: 12px;
  margin-bottom: 60px; }

.footerTxt a {
  color: #0072ce !important;
  font-family: SimpleSans-Bold, Helvetica, sans-serif !important;
  cursor: pointer; }

.land-img-mx img {
  width: 100%;
  max-width: 435px !important; }

.land-cnt-01-inner, .land-cnt-02-inner {
  padding: 30px; }

.land-cnt-01-inner .land-cnt-wrap {
  margin-top: 40px !important; }

.land-cnt-01 p {
  text-align: justify;
  font-size: 1rem !important; }
.land-cnt-01 .bg-lightgray {
  background: #fafafa; }

.form-group {
  position: relative; }

.fd-error {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-weight: 900;
  color: #C01324;
  background: white;
  border: 1px solid #616365;
  padding: 0.541rem .75rem;
  width: 100%;
  line-height: 30px;
  border: 1px solid #C01324;
  border-radius: .25rem; }

.fd-bld {
  color: #C01324;
  font-weight: 900; }

#signWrap {
  background-color: #edf7fe;
  background-image: url("../img/mainBg.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover; }

.nav-tabs {
  border: none; }
  .nav-tabs .nav-link {
    display: inline-block;
    border: none !important;
    border-bottom: 1px solid #616365 !important;
    border-radius: 0px !important;
    position: relative;
    font-size: 1.5rem;
    color: #000;
    font-family: SimpleSans-Medium, Helvetica, sans-serif; }
  .nav-tabs .nav-link {
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: #616365; }
  .nav-tabs .nav-link.active {
    font-size: 2rem;
    font-weight: bold;
    color: #0072ce;
    line-height: 21px; }
  .nav-tabs .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0px;
    border-bottom: 3px solid #0072ce; }

.loginDescSec {
  font-size: 1.16rem;
  color: black; }

#brandLogo {
  padding-top: 50px;
  padding-bottom: 40px;
  line-height: 0px;
  margin-bottom: 0px; }

.formWrapInner.exSpacer {
  padding: 2.5rem 3.66rem 7.08rem 3.66rem; }
  .formWrapInner.exSpacer .nav-tabs {
    margin-bottom: 37px; }

.formWrapInner {
  background-color: #ffffff;
  font-family: SimpleSans-Medium, Helvetica, sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 410px;
  padding: 2.5rem 3.66rem 5.83rem 3.66rem;
  opacity: 0.75;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 65, 101, 0.15);
          box-shadow: 0 3px 8px 0 rgba(0, 65, 101, 0.15); }
  .formWrapInner #signup, .formWrapInner #signin {
    position: relative; }
    .formWrapInner #signup .footerTxt, .formWrapInner #signin .footerTxt {
      margin-bottom: 0px;
      position: absolute;
      width: 100%;
      bottom: -47px; }
  .formWrapInner p {
    padding-top: 0px;
    font-size: 1.16rem; }
  .formWrapInner .loginDesc {
    margin-bottom: 10px;
    padding-top: 0px;
    font-size: 1.16rem; }
  .formWrapInner .form-control {
    font-size: 1.16rem;
    font-weight: bold;
    line-height: 2.5rem; }
  .formWrapInner .form-group {
    margin-bottom: 0px;
    margin-bottom: 15px; }
    .formWrapInner .form-group .form-control {
      border: 1px solid #616365;
      padding: 0.541rem .75rem;
      font-family: SimpleSans-Bold, Helvetica, sans-serif; }
  .formWrapInner .errorMsg {
    border: 1px solid #C01324; }
  .formWrapInner .txtError {
    color: #C01324; }
  .formWrapInner .footerTxt {
    font-size: 1.16rem;
    font-family: SimpleSans-Regular, Helvetica, sans-serif !important; }

.txtInnerWrap {
  font-family: SimpleSans-Medium, Helvetica, sans-serif;
  padding-top: 150px; }
  .txtInnerWrap h1 {
    font-size: 1.83rem;
    font-weight: bold; }
  .txtInnerWrap p {
    font-family: SimpleSans-Regular, Helvetica, sans-serif !important;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal; }

.btnSubmit {
  line-height: 2.5rem;
  font-family: SimpleSans-Medium, Helvetica, sans-serif;
  max-width: 350px;
  margin: 0 auto; }

.btnSubmit.spe-sign {
  margin-top: 45px; }

.headingWrap {
  font-family: SimpleSans-Medium, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #0072ce;
  line-height: 21px;
  margin-bottom: 50px; }

.success-wrap {
  max-width: 600px;
  margin: 0 auto; }

.emailWrap, .passwordWrap {
  position: relative; }
  .emailWrap input, .passwordWrap input {
    padding-left: 40px !important; }

.passwordWrap:after {
  content: url(../img/passIcon.svg);
  position: absolute;
  left: 10px;
  top: 10px; }

.emailWrap:after {
  content: url(../img/emailIcon.svg);
  position: absolute;
  left: 10px;
  top: 12px; }

.toolWrap {
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  width: 94%;
  left: 0px;
  top: 53px; }
  .toolWrap .toolInnerWrap {
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    border: solid 1px #0072ce;
    opacity: 1;
    border-radius: 6px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 65, 101, 0.15);
            box-shadow: 0 3px 8px 0 rgba(0, 65, 101, 0.15);
    color: black;
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    font-size: 10px; }
    .toolWrap .toolInnerWrap p {
      font-family: SimpleSans-Bold, Helvetica, sans-serif;
      font-size: 10px; }
    .toolWrap .toolInnerWrap .toolArrow {
      position: absolute;
      left: 40px;
      top: -17px;
      display: inline-block;
      content: url("../img/toolhead.svg");
      background-repeat: no-repeat;
      width: 25px;
      height: 25px; }
    .toolWrap .toolInnerWrap ul {
      padding-left: 0px;
      margin-bottom: 0px; }
    .toolWrap .toolInnerWrap ul li span img {
      max-width: 14px;
      margin-right: 5px;
      margin-top: -3px; }
    .toolWrap .toolInnerWrap ul li.passed-cri {
      color: black !important; }
    .toolWrap .toolInnerWrap ul li {
      font-family: SimpleSans-Regular, Helvetica, sans-serif;
      font-size: 10px;
      color: #616365;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      padding-bottom: 10px; }
      .toolWrap .toolInnerWrap ul li:last-child {
        padding-bottom: 0px; }
      .toolWrap .toolInnerWrap ul li .tool-icon {
        display: inline-block;
        background-image: url("../img/check.svg");
        background-repeat: no-repeat;
        background-position: 0px 2px;
        width: 10px;
        height: 10px; }
      .toolWrap .toolInnerWrap ul li .tool-icon.yes-icon {
        display: inline-block;
        background-image: url("../img/cross.svg");
        background-repeat: no-repeat;
        width: 10px;
        height: 10px; }

.land-cnt-02-inner p {
  font-family: SimpleSans-Medium, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }
  .land-cnt-02-inner p span {
    font-family: SimpleSans-Medium, Helvetica, sans-serif;
    color: red;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }
  .land-cnt-02-inner p label {
    font-family: SimpleSans-Medium, Helvetica, sans-serif;
    color: yellow;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }

/*********************************** login ENDS here *********************************/
/*********************************** dashboard  STARTS here *********************************/
#db-wrap {
  background: #f5f7fa;
  min-height: 100%;
  overflow: auto; }

/*Hiding the defalut Check box*/
.epp-cb-wrap input[type=checkbox].check1,
.epp-cb-wrap input[type=checkbox].check2,
.epp-cb-wrap input[type=checkbox].check3 {
  display: none; }

/*Box properties*/
.epp-cb-wrap input[type=checkbox].check1 + label.label1,
.epp-cb-wrap input[type=checkbox].check2 + label.label2,
.epp-cb-wrap input[type=checkbox].check3 + label.label3 {
  display: inline-block;
  line-height: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 26px; }

/*Change CB Sprite Pos*/
.epp-cb-wrap input[type=checkbox].check1:checked + label.label1,
.epp-cb-wrap input[type=checkbox].check2:checked + label.label2,
.epp-cb-wrap input[type=checkbox].check3:checked + label.label3 {
  background-image: url("../img/cb-img-act.svg");
  background-position: left top; }

/*Change CB Sprite*/
.epp-cb-wrap label.label1,
.epp-cb-wrap label.label2,
.epp-cb-wrap label.label3 {
  background-image: url("../img/cb-img.svg");
  background-position: left top; }

.icon-ads label {
  display: inline-block !important;
  position: relative; }
  .icon-ads label:after {
    display: inline-block;
    content: url("../img/ic_warning.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 0px;
    margin-right: -30px; }

.mobview {
  background-color: #efefef;
  height: 60px;
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  z-index: 3; }
  .mobview .mobview-inner {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%; }
  .mobview img {
    max-width: 250px;
    width: 50% !important; }

.fd-lease-blocks {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 10px; }
  .fd-lease-blocks:last-child {
    padding-right: 15px; }
  .fd-lease-blocks:first-child {
    padding-left: 15px; }

.db-bread-wrap {
  margin-bottom: 25px; }

.db-header {
  background: #fff;
  height: 60px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.12); }
  .db-header .but-wrap {
    padding-top: 12px;
    float: right;
    padding-right: 63px; }
    .db-header .but-wrap button {
      margin-right: 8px; }
  .db-header .icon-wrap {
    padding-right: 12px; }
    .db-header .icon-wrap .alertWrap, .db-header .icon-wrap .chatWrap {
      padding: 8px 10px;
      font-family: SimpleSans-Regular, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #0072ce;
      cursor: pointer; }
  .db-header .logoWrap {
    padding-left: 90px;
    padding-top: 18px; }
  .db-header .logoWrap img {
    max-width: 250px; }
  .db-header .btn-outline-primary {
    border-radius: 5px;
    border: solid 0.5px #0072ce;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0072ce;
    padding: 9px 17px; }
    .db-header .btn-outline-primary:hover {
      background-color: #0072ce;
      color: #fff; }
    .db-header .btn-outline-primary:active, .db-header .btn-outline-primary:focus {
      background-color: #0072ce;
      color: #fff;
      outline: none; }

.db-bread-wrap .breadcrumb {
  padding-left: 17px;
  background: #f5f7fa; }

.db-lease-tab {
  padding-left: 0px;
  padding-right: 0px; }
  .db-lease-tab a.nav-link {
    line-height: 2rem;
    border-radius: 100px;
    background-color: #fff;
    text-align: center;
    font-size: 1rem;
    font-family: SimpleSans-Medium, Helvetica, sans-serif;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
    color: #0072ce; }
    .db-lease-tab a.nav-link.active {
      background-color: #0072ce;
      font-weight: 900; }

.db-lease-tab-cnt {
  margin: 20px 0px 25px 0px; }
  .db-lease-tab-cnt .card {
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #0072ce;
    font-weight: normal; }
    .db-lease-tab-cnt .card .card-header {
      font-family: SimpleSans-Regular, Helvetica, sans-serif;
      color: #fff;
      font-size: 1.3rem;
      background: #0072ce; }
    .db-lease-tab-cnt .card .statusWrap {
      font-weight: 900; }
    .db-lease-tab-cnt .card .styletwo {
      font-size: 0.83rem; }

.btmTabCtrl {
  margin-top: -10px; }

.icon-wrap {
  position: absolute;
  right: 0px;
  top: 0px; }

.db-inner-wrap {
  padding: 0px;
  padding: 0px 133px 0px 74px;
  top: 86px; }
  .db-inner-wrap .breadcrumb {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    border-radius: 0px;
    font-size: .88rem;
    line-height: 0px;
    margin-bottom: 0px; }
    .db-inner-wrap .breadcrumb .breadcrumb-item.active {
      color: #0072ce;
      font-family: SimpleSans-Bold, Helvetica, sans-serif; }
    .db-inner-wrap .breadcrumb a {
      color: #616365; }
    .db-inner-wrap .breadcrumb a:hover {
      text-decoration: none; }

.db-inner-box {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 7px; }
  .db-inner-box .btmBorder {
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: solid 1px #e6e9ed; }

.db-inner-wrap {
  height: calc(100% - 86px) !important;
  min-height: calc(100% - 86px) !important; }

.db-inner-box {
  min-height: calc(100% - 70px) !important;
  margin-bottom: 20px; }

.db-lease-tab-cnt ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }
.db-lease-tab-cnt ul li {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: .83rem;
  line-height: 1.25rem; }
  .db-lease-tab-cnt ul li span {
    font-family: SimpleSans-Bold, Helvetica, sans-serif; }

#Coverage ul li {
  line-height: 23px; }
  #Coverage ul li label {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    font-size: 1.16rem;
    color: #616365;
    font-weight: normal;
    letter-spacing: normal;
    font-stretch: normal; }
  #Coverage ul li span {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 1.16rem;
    color: #0072ce; }
#Coverage .card-body h6 {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 1.16rem;
  line-height: normal;
  padding: 10px 0px 0px 0px; }
  #Coverage .card-body h6 a {
    font-family: SimpleSans-Bold, Helvetica, sans-serif; }

#Contract h6 {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: normal;
  padding: 30px 0px 0px 0px;
  text-align: center;
  color: red;
  margin-bottom: -5px; }
  #Contract h6 span {
    color: #616365;
    display: block;
    padding-top: 5px; }
#Contract ul li {
  padding-bottom: 15px; }
  #Contract ul li label {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    font-size: 1rem;
    color: #616365;
    font-weight: normal;
    letter-spacing: normal;
    font-stretch: normal;
    display: block;
    line-height: normal;
    margin-bottom: 5px; }
  #Contract ul li span {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 1rem;
    color: #0072ce;
    font-weight: normal;
    letter-spacing: normal;
    font-stretch: normal;
    display: block; }

#Payment table tr td {
  padding-right: 20px;
  padding-left: 20px; }
#Payment table tr td:last-child {
  text-align: right; }
#Payment table tr:last-child {
  font-size: 1.16rem;
  color: #C01324;
  font-family: SimpleSans-Black, Helvetica, sans-serif; }
#Payment h6 {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 1.33rem;
  line-height: normal;
  text-align: center;
  color: red;
  padding: 15px 0px; }
  #Payment h6 span {
    font-size: 1rem;
    color: #0072ce; }

#Equipment .carousel-control-prev-icon {
  background-image: url("../img/lftarrow.svg");
  width: 30px;
  height: 30px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
#Equipment .carousel-control-next-icon {
  background-image: url("../img/rytarrow.svg");
  width: 30px;
  height: 30px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
#Equipment .cus-card {
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  background: #fff; }
  #Equipment .cus-card ul li {
    margin-bottom: 10px; }
  #Equipment .cus-card label {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    font-size: 1rem;
    color: #616365;
    margin-bottom: 2px; }
  #Equipment .cus-card span {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 1rem;
    color: #0072ce; }

.carousel-control-next, .carousel-control-prev {
  opacity: 0; }

#carouselExampleControls1:hover .carousel-control-next,
#carouselExampleControls1:hover .carousel-control-prev {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.db-lease-wrap .carousel-control-prev-icon {
  background-image: url("../img/lftarrow.svg");
  width: 30px;
  height: 30px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
.db-lease-wrap .carousel-control-next-icon {
  background-image: url("../img/rytarrow.svg");
  width: 30px;
  height: 30px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
.db-lease-wrap .cus-card.leaseCardSelected {
  background-color: #0072ce;
  cursor: pointer; }
  .db-lease-wrap .cus-card.leaseCardSelected label, .db-lease-wrap .cus-card.leaseCardSelected span {
    color: #fff; }
.db-lease-wrap .cus-card {
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 50px 0px; }
  .db-lease-wrap .cus-card:hover {
    background-color: #0072ce;
    cursor: pointer; }
    .db-lease-wrap .cus-card:hover label, .db-lease-wrap .cus-card:hover span {
      color: #fff; }
  .db-lease-wrap .cus-card ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
  .db-lease-wrap .cus-card ul li {
    margin-bottom: 10px;
    padding: 0px;
    margin: 0px; }
  .db-lease-wrap .cus-card label {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 1.16rem;
    color: #0072ce;
    display: block;
    padding-top: 20px;
    margin-bottom: -10px; }
  .db-lease-wrap .cus-card span {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    font-size: 1.16rem;
    color: #0072ce;
    display: block;
    padding-bottom: 20px; }

.faq h3 {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #3e3e3e;
  padding-top: 20px; }
.faq p {
  font-size: 10px;
  font-family: SimpleSans-Regular, Helvetica, sans-serif; }

.eol .card {
  border: none;
  border-bottom: 1px solid white; }
.eol .txtCtrl {
  background: yellow;
  width: 100%;
  word-wrap: break-word !important; }
.eol .card {
  max-width: 100%; }
.eol .card-text {
  word-wrap: break-word !important; }
.eol .card-header {
  background-color: #d3e9f4;
  border-radius: 0;
  padding: 11px 0px; }
  .eol .card-header a {
    display: block;
    word-wrap: break-word;
    display: block;
    padding-left: 10px;
    padding-right: 40px;
    color: #3e3e3e;
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer; }
    .eol .card-header a:hover {
      color: #3e3e3e; }
.eol .card-body {
  border: none; }
.eol #accordion {
  width: 100%; }
.eol .marker {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  width: 100%;
  text-align: left; }
.eol .marker:after {
  content: "";
  background: url("../img/ic-up.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .1s;
  transition: .1s; }
.eol .marker.collapsed:after {
  content: "";
  background: url("../img/ic-down.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  right: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: .1s;
  transition: .1s; }

.epp {
  font-family: SimpleSans-Regular, Helvetica, sans-serif; }
  .epp .details {
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
    .epp .details label {
      font-family: SimpleSans-Regular, Helvetica, sans-serif;
      font-size: 1rem; }
    .epp .details span {
      font-family: SimpleSans-Black, Helvetica, sans-serif;
      font-size: 1rem; }
    .epp .details .activeBg {
      color: #0072ce; }
  .epp .listWrap {
    background: rgba(97, 99, 101, 0.1);
    font-family: SimpleSans-Bold, Helvetica, sans-serif; }
    .epp .listWrap ul li {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      line-height: 1.6rem; }

.txtone {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 1rem;
  color: #0072ce; }

.txttwo {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 1rem;
  color: #0072ce; }

.txtthree {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 2px;
  display: inline-block;
  position: absolute;
  padding-left: 10px; }

.clrPrime {
  color: #0072ce; }

.ctrlPad {
  overflow: hidden;
  margin-right: 5px;
  padding-left: 5px;
  padding-top: 3px; }

.modal-header {
  border-bottom: none !important; }

.modal-footer {
  border-top: none !important;
  border-bottom: none !important; }

.paymentWrap {
  cursor: pointer; }

#alertspop .modal-dialog, #paymentspop .modal-dialog {
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }
#alertspop .modal-content, #paymentspop .modal-content {
  min-height: 300px; }
#alertspop .cntWrap, #paymentspop .cntWrap {
  margin-left: -13px;
  margin-right: -13px;
  background-color: rgba(97, 99, 101, 0.1);
  padding-left: 30px !important; }
  #alertspop .cntWrap span, #paymentspop .cntWrap span {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-left: 20px; }

#paymentpop .mod-heading, #paymentpop p, #epppop .mod-heading, #epppop p {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 1.16rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #3e3e3e; }
#paymentpop p, #epppop p {
  font-family: SimpleSans-Regular, Helvetica, sans-serif; }

.modbutgreen {
  width: 200px;
  height: 35px;
  border-radius: 20px;
  background-color: #43b02a;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: SimpleSans-Black, Helvetica, sans-serif;
  font-size: 1.16rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff; }

.fd-badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ff1b1b;
  border-radius: 70px;
  font-family: SimpleSans-Regular, Helvetica, sans-serif !important;
  font-size: 10px !important;
  color: #fff !important;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: normal !important;
  line-height: 18px;
  text-align: center; }

.alertWrap {
  position: relative; }
  .alertWrap .fd-badge {
    top: 8px;
    left: 7px; }

.db-header {
  position: fixed;
  top: 0px;
  z-index: 2; }

#SidenavRytBut {
  position: fixed;
  top: 60px;
  z-index: 1003; }

.faqWrap {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  padding: 16px 0px;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0072ce; }

.butAdj {
  margin-left: -80px; }

.faq-wrap a.btn {
  display: block; }
.faq-wrap .card-body p {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3e3e;
  margin-bottom: 0px; }

.epp .cntTxt {
  background: url("../img/alertred.svg");
  background-repeat: no-repeat;
  background-position: 0px 7px;
  padding-left: 30px;
  padding-top: 10px;
  min-height: 20px;
  font-size: 10px;
  color: #535353;
  padding-bottom: 5px; }
.epp .details {
  margin: 15px 0; }
  .epp .details li {
    line-height: 1.67; }
    .epp .details li label {
      margin-right: 7px;
      text-align: right;
      margin-bottom: 0px;
      width: 106px; }
.epp .toggleWrap {
  width: 100%;
  padding: 0px 45px;
  margin-bottom: 10px; }
  .epp .toggleWrap .toggle-item-wrap {
    border-right: 1px solid rgba(97, 99, 101, 0.35);
    width: 220px;
    overflow: hidden;
    float: left;
    padding-left: 15px;
    margin-bottom: 10px; }
    .epp .toggleWrap .toggle-item-wrap:last-child {
      border-right: none; }
    .epp .toggleWrap .toggle-item-wrap .leftWrap {
      width: 100px;
      float: left; }
      .epp .toggleWrap .toggle-item-wrap .leftWrap p {
        margin-bottom: 0px;
        font-family: SimpleSans-Medium, Helvetica, sans-serif;
        color: #3e3e3e;
        font-size: 12px;
        font-weight: normal;
        line-height: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal; }
      .epp .toggleWrap .toggle-item-wrap .leftWrap p:last-child {
        font-family: SimpleSans-Medium, Helvetica, sans-serif;
        font-size: 10px;
        margin-top: 3px; }
    .epp .toggleWrap .toggle-item-wrap .rightWrap {
      width: 50%;
      float: left;
      padding-top: 4px; }
      .epp .toggleWrap .toggle-item-wrap .rightWrap p {
        display: inline-block;
        float: left;
        font-family: SimpleSans-Bold, Helvetica, sans-serif;
        color: #3e3e3e;
        font-size: 12px;
        font-weight: bold;
        line-height: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        margin-bottom: 0px; }
      .epp .toggleWrap .toggle-item-wrap .rightWrap p:last-child {
        margin-top: 3px; }
    .epp .toggleWrap .toggle-item-wrap.active p {
      color: #0072ce; }
.epp .epp-cb-wrap {
  padding-top: 15px; }
  .epp .epp-cb-wrap label {
    margin-bottom: 10px;
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    color: #3e3e3e;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.6;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }
.epp .cntTxtWrap p {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.3;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }
.epp .cntTxtWrap span {
  font-family: SimpleSans-Bold, Helvetica, sans-serif; }
.epp .listWrap ul {
  margin-bottom: 10px;
  margin-top: 10px; }
  .epp .listWrap ul li {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    color: #616365;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.6;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }
.epp .ftrtxt {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.3;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 7px;
  margin-top: 7px;
  text-align: center;
  width: 100%; }

.butSec {
  width: 100px;
  border-radius: 5px;
  border: solid 1px #8e8e8e;
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8e8e8e;
  text-transform: uppercase;
  padding: 0px;
  line-height: 23px;
  margin-top: 10px; }

#myModal, #myModal1 {
  background: rgba(0, 0, 0, 0.75); }

.opacity-disable {
  opacity: 0.5; }

.modal-dialog {
  width: 100%;
  max-width: 600px !important; }
  .modal-dialog .modal-body {
    padding-right: 30px;
    padding-left: 30px; }
  .modal-dialog p {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }

.claims h5 {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-left: 15px; }
.claims ul li {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.74;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }
.claims p {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.08;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-left: 25px; }

.contactWrap p {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.08;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding-top: 20px; }

.eol.diff .card-header {
  background: #0072ce; }
  .eol.diff .card-header h5 a {
    color: white; }
.eol.diff .card-body ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-top: 30px; }
  .eol.diff .card-body ul li {
    margin-bottom: 5px; }
.eol.diff .card-body p {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; }
  .eol.diff .card-body p span {
    font-family: SimpleSans-Bold, Helvetica, sans-serif;
    color: #0072ce;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }

.claim-inner {
  margin-bottom: 30px; }
  .claim-inner img {
    max-width: 100%; }

.claim-arrow ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px; }
  .claim-arrow ul li {
    position: relative;
    padding-left: 25px; }
    .claim-arrow ul li:before {
      content: "";
      background-image: url(../img/rarrow.svg);
      background-repeat: no-repeat;
      border: none !important;
      left: 0px;
      top: 4px;
      width: 20px;
      height: 20px;
      position: absolute; }

.toopwrap li {
  position: relative;
  padding-left: 25px; }
  .toopwrap li:before {
    content: "";
    background-image: url(../img/rarrow.svg);
    background-repeat: no-repeat;
    border: none !important;
    left: 0px;
    top: 4px;
    width: 20px;
    height: 20px;
    position: absolute; }

#paymentpop p {
  padding-left: 15px;
  padding-right: 15px; }
  #paymentpop p span {
    color: #0072ce; }
#paymentpop .mod-heading {
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #0072ce; }
#paymentpop .popbld {
  font-weight: bold;
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left !important;
  margin-left: 35px;
  margin-top: -9px; }

/*********************************** dashboard ENDS here *********************************/
/*********************************** sidebar  STARTS here *********************************/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none; }

.form-control:focus, ul.lft-icon-wrap li.active {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none; }

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 60px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #ffc63f;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #616365;
  -webkit-box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.25); }

.lft-but-wrap {
  position: absolute;
  background: #43b02a;
  width: 100%;
  top: 0px;
  height: 60px;
  opacity: 1; }

.sidenav.ctrlWidthLft ul.lft-icon-wrap {
  margin-top: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.sidenav.ctrlWidthLft .extitle {
  margin-top: 6px; }

ul.lft-icon-wrap {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.extitle {
  display: none;
  float: left;
  font-size: 1rem;
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-weight: normal; }

.icnWrap {
  width: 60px;
  text-align: center;
  display: inline-block;
  float: left; }

.sidenav.ctrlWidthLft .extitle {
  display: inline-block;
  width: 145px; }

.sidenav.ctrlWidthLft .nrtitle {
  display: none; }

.sidenav.ctrlWidthLft ul.lft-icon-wrap li {
  padding-top: 20px; }

ul.lft-icon-wrap li {
  width: 100%;
  text-align: left;
  font-size: 0.66rem;
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
  height: 60px;
  padding-top: 12px;
  border-bottom: 1px solid #404243; }
  ul.lft-icon-wrap li:hover {
    background: #0072ce; }
  ul.lft-icon-wrap li:active {
    background: #0072ce; }

ul.lft-icon-wrap li.active {
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  text-transform: none;
  background: #0072ce; }

.sidenav.ctrlWidthLft .lft-but-wrap {
  height: 130px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.loginname {
  opacity: 0;
  font-family: SimpleSans-Bold, Helvetica, sans-serif;
  font-size: 1.166rem;
  color: #fff;
  padding: 15px 0px 0px 15px; }

.signout-Wrap {
  opacity: 0;
  font-family: SimpleSans-Regular, Helvetica, sans-serif;
  font-size: 0.83rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fff;
  cursor: pointer; }

.sidenav.ctrlWidthLft .lft-but-wrap .loginname, .sidenav.ctrlWidthLft .lft-but-wrap .signout-Wrap {
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.sidenavB {
  height: 60px;
  /* 100% Full-height */
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */
  text-align: right; }

.sidenavR {
  height: 30px;
  /* 100% Full-height */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background: #616365;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */
  text-align: right; }

.prodisplay {
  height: 100%;
  /* 100% Full-height */
  width: 240px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 60px;
  /* Stay at the top */
  right: -120px;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 30px;
  /* Place content 60px from the top */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */
  background-color: #fff;
  background: #fafafa;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12); }

.pro-img-pad {
  margin: 10px;
  text-align: right !important; }

.prodisplay .oddBg {
  background: #f4f4f4;
  border-bottom: 2px solid #eeeeee; }
.prodisplay .evenBg {
  border-bottom: 2px solid #eeeeee; }

.pro-cnt-wrap {
  padding-left: 10px; }
  .pro-cnt-wrap h3 {
    font-family: SimpleSans-Black, Helvetica, sans-serif;
    font-size: 1.16rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9f9f9f;
    padding-top: 14px; }
  .pro-cnt-wrap p {
    font-family: SimpleSans-Regular, Helvetica, sans-serif;
    font-size: .83rem; }

.ctrlWidthRyt {
  right: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.ctrlWidthLft {
  width: 220px;
  /* 0 width - change this with JavaScript */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.ctrlWidthLftB {
  left: 160px;
  /* 0 width - change this with JavaScript */
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* 0.5 second transition effect to slide in the sidenav */ }

#SidenavLftBut {
  background-image: url("../img/open.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #43b02a;
  width: 60px;
  cursor: pointer; }

#SidenavRytBut {
  background-image: url("../img/arrowNormal.svg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 120px;
  cursor: pointer; }

#SidenavLftBut.tbut {
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  width: 60px;
  cursor: pointer; }

#SidenavRytBut.tbut {
  background-image: url("../img/closeArrow.svg");
  background-repeat: no-repeat;
  width: 240px;
  cursor: pointer;
  background-position: center top; }

#SidenavRytBut {
  right: 0px;
  top: 60px;
  z-index: 2; }

.pro-img-cnt {
  padding: 10px; }

/*********************************** sidebar ENDS here *********************************/
/*********************************** sidebar  STARTS here *********************************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin-right: 10px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: -2px 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 23px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: -2px 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 23px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.2); }

input:checked + .slider {
  background-color: #43b02a; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #43b02a;
          box-shadow: 0 0 1px #43b02a; }

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
          transform: translateX(15px); }

/* Rounded sliders */
.slider.round {
  border-radius: 100px; }

.slider.round:before {
  border-radius: 100px; }

/*********************************** sidebar ENDS here *********************************/
/*********************************** sidebar  STARTS here *********************************/
@media (min-width: 320px) and (max-width: 767.98px) {
  .db-inner-wrap {
    min-height: calc(100% - 136px) !important;
    height: calc(100% - 136px) !important; }

  .db-inner-box {
    min-height: calc(100% - 64px) !important; }

  .txtInnerWrap {
    padding-right: 12% !important;
    padding-left: 12% !important; }

  .adleftpad {
    padding-left: 5px !important; }
    .adleftpad a {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 10px; }

  .adrytpad {
    padding-right: 5px !important; }
    .adrytpad a {
      padding-left: 0px;
      padding-right: 0px;
      font-weight: normal;
      font-family: SimpleSans-Medium, Helvetica, sans-serif; }

  .db-header .btn-outline-primary {
    padding: 5.5px 17px; }

  .icon-wrap {
    top: -50px; }

  .nav-tabs {
    border: none; }
    .nav-tabs .nav-link {
      display: inline-block;
      border: none !important;
      border-bottom: 1px solid #616365 !important;
      border-radius: 0px !important;
      position: relative;
      font-size: 1.5rem;
      color: #000;
      font-family: SimpleSans-Medium, Helvetica, sans-serif; }
    .nav-tabs .nav-link {
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 25px;
      color: #616365;
      font-size: 1.25rem !important; }
    .nav-tabs .nav-link.active {
      font-size: 1.5rem !important;
      font-weight: bold;
      color: #0072ce;
      line-height: 16px; }
    .nav-tabs .nav-link.active:after {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      left: 0px;
      border-bottom: 3px solid #0072ce; }

  .land-hero-cnt {
    width: 70% !important;
    padding: 10px 10px 0px 0px !important; }

  .ctrl-sm-device {
    padding: 0px; }

  .land-cnt-01-inner, .land-cnt-02-inner {
    padding: 10px; }

  .fd-dd-mob {
    margin-left: 60px;
    margin-right: 80px;
    width: 100%;
    padding-top: 18px; }
    .fd-dd-mob .dropdown-toggle {
      width: 150px !important;
      position: relative; }
    .fd-dd-mob .dropdown-toggle::after {
      background: url(../img/shape.svg) no-repeat;
      border: none !important;
      right: 0px;
      top: 10px;
      width: 20px;
      height: 20px;
      position: absolute; }

  .land-cnt-01-inner, .land-cnt-02-inner {
    padding: 20px !important; }

  .land-hero-cnt {
    width: 50%;
    padding: 0px 10px 0px 0px; }

  .fd-Heading {
    font-size: 14px; }

  #land-wrap p, #land-wrap ul li {
    font-size: 10px; }

  .fd-SubHeading {
    font-size: 16px; }

  .land-head > div:nth-child(2) {
    margin-top: 30px; }

  .formWrapInner {
    padding: 2.5rem 1.66rem 5.83rem 1.66rem;
    margin-bottom: 30px; }

  .formWrapInner.exSpacer {
    padding: 2.5rem 1.66rem 5.83rem 1.66rem; }

  #brandLogo {
    padding-top: 50px;
    padding-bottom: 25px; }

  .txtInnerWrap {
    padding-top: 30px; }

  .db-bread-wrap {
    top: 86px; }

  .db-header, .sidenavB {
    top: 60px; }

  .sidenav {
    left: -70px; }

  .sidenav.ctrlWidthLft {
    left: 0px; }

  .prodisplay {
    right: -250px;
    top: 120px; }

  .db-inner-wrap {
    padding: 0px 0px 0px 0px;
    top: 132px; }

  .db-bread-wrap {
    margin-bottom: 15px; }

  #SidenavRytBut {
    top: 120px;
    width: 35px; }

  .ctrlWidthRyt {
    right: 0px; } }
@media (max-width: 576px) {
  .txtInnerWrap {
    padding-right: 0 !important;
    padding-left: 0 !important; } }
/*********************************** sidebar ENDS here *********************************/
/*********************************** captcha  STARTS here *********************************/
/*********************************** captcha ENDS here *********************************/
a:hover {
  color: red; }

span p {
  color: blue; }

p.testone {
  color: yellow; }

.ls-home {
  background-image: url("../img/ls-home.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
  height: 25px;
  width: 25px; }

.ls-home > span {
  background-color: #0072ce; }

.ls-epp {
  background-image: url("../img/ls-epp.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
  height: 25px;
  width: 25px; }

.ls-epp > span {
  background-color: #0072ce; }

.ls-claims {
  background-image: url("../img/ls-claims.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
  height: 25px;
  width: 25px; }

.ls-claims > span {
  background-color: #0072ce; }

.ls-eol {
  background-image: url("../img/ls-eol.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
  height: 25px;
  width: 25px; }

.ls-eol > span {
  background-color: #0072ce; }

.ls-faq {
  background-image: url("../img/ls-faq.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
  height: 25px;
  width: 25px; }

.ls-faq > span {
  background-color: #0072ce; }

.ls-phone {
  background-image: url("../img/ls-phone.svg");
  background-repeat: no-repeat;
  border: 1px solid red;
  height: 25px;
  width: 25px; }

.ls-phone > span {
  background-color: #0072ce; }

/*# sourceMappingURL=urLease.css.map */