<div class="row db-lease-tab-cnt  py-4">
  <div class="col-12 col-md-6 col-sm-12  ">
      <ul>
          <li>
              <label>Merchant Name:</label>
              <span class="">{{leaseData["merchantName"]}}</span>
          </li>
          <li>
              <label>
                  Merchant ID:</label>
              <span class="">{{leaseData["merchantId"]}}</span>
          </li>
          <li>
              <label>Lease # : </label>
              <span class="">{{selectedLease['leaseNo']}}</span>
          </li>
      </ul>

  </div>
  <div class=" col-12 col-md-6 col-sm-12  ">
      <ul>
          <li>
              <label>Business Address: </label>
              <span class="">{{selectedLease['businessAddress']}}</span>
          </li>
          <li>
              <label>
                  Business Contact:</label>
              <span class=""> {{selectedLease['businessPhone']}}</span>
          </li>
          <li>
              <label>Email:</label>
              <span class="">{{selectedLease['email']}}</span>
          </li>
      </ul>
  </div>

</div>