<div id="signWrap" class=" h-100 container-fluid">
  <div class="row">
      <div class="col-sm-12 success-wrap  ">
          <h1 id="brandLogo" class="text-center"><img src="./assets/img/firstdata_logo.svg"></h1>
          <br><br><br>
          <h1 class="text-center"><img src="./assets/img/TickIcon.svg"></h1>
          <br>
          <h1 class="text-center"><b>Thank you</b></h1>
          <br>
          <p class="text-center">Please check your email for instructions on resetting your password.</p>
          <h6 class="text-center txt-sm">
              <small>2017-2018 First Data Corporation. All Rights Reserved. <a href="#">Privacy
                  Policy</a></small>
          </h6>
          <br>
          <br>
          <button type="submit" (click)="temp()"
           class="btnSubmit btn btn-primary btn-lg btn-block">Done</button>

      </div>

  </div>
</div>