<div class="col-12 db-inner-wrap  claimswrap  ">
  <!--breadcrums Starts Here-->
  <div class="row db-bread-wrap">
    <ol class="breadcrumb  w-100">
      <li class="breadcrumb-item">urLease</li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">Claims</li>

    </ol>

  </div>
  <!--wraper for FAQ-->
  <div class="db-inner-box col-12 faq claims ">

    <div class="faqWrap">How to Raise a Claim</div>
    <div class="btmBorder"></div>
    <br><br>
    <div class="col claim-inner">
      <img src="assets/img/c-banner.jpg">


    </div>
    <h5>If you have experienced a loss due to one of the following reasons:</h5>
    <br>

    <div class="row claim-arrow">
      <div class="col-6">
        <ul>
          <li>Accidental Damage</li>
          <li>Collapse</li>
          <li>Falling Objects</li>
          <li>Hail Flood and Water</li>
          <li> Transit</li>
          <li> Wind, Hurricane and Tornado</li>
        </ul>
      </div>
      <div class="col-6 ">


        <ul>
          <li>Burglary theft and Robbery</li>
          <li>Employee theft</li>
          <li>Fire and Smoke</li>
          <li>Lightning and Power Surge</li>
          <li>Vandalism</li>
        </ul>
      </div>
    </div>
    <br><br><br>
    <h5>Please follow these steps:</h5>
    <br>
    <p><span>1.</span> Email <a
      href="mailto:FDGLClientServices@firstdata.com" target="_new">FDGLClientServices@firstdata.com</a> (Include the
      reason for the loss)</p>
    <p><span>2.</span> First Data will review your claim</p>
    <p><span>3.</span> First Data will request a device to be mailed to you</p>
    <p><span>4.</span> Equipment will reach you within 24-48 hours once the claim is raised</p>
    <div class=" text-center d-none">
      <button type="button" [routerLink]="['/dashboard/home']" class="btn butSec  ">Done
      </button>
    </div>
    <br><br><br><br>
  </div>


</div>



