<div class="col-12 db-inner-wrap  ">
  <!--breadcrums Starts Here-->
  <div class="row db-bread-wrap">
    <ol class="breadcrumb  w-100">
      <li class="breadcrumb-item">urLease</li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">EOL</li>
    </ol>

  </div>
  <!--wraper for FAQ-->
  <div class="db-inner-box col-12 eol diff ">
    <div class="faqWrap">End of Lease Options</div>

    <div class="row">
      <div id="accordion" class="faq-wrap">
        <!--FAQ 01 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-01">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker  " data-toggle="collapse" data-target="#faq-a-01"
                 aria-expanded="true" aria-controls="collapseOne">
                Return Equipment </a>
            </h5>
          </div>

          <div id="faq-a-01" class="collapse show " aria-labelledby="faq-q-01"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>Continue using the equipment on a month to month basis at the existing monthly lease payment amount. If
                you choose this option, there is no action needed. FDGL will continue to debit the account on file for
                the scheduled monthly payments until you choose to return or purchase the equipment.</p>


            </div>
          </div>
        </div>
        <!--FAQ 02 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-02">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-02"
                 aria-expanded="true" aria-controls="">
                Purchase Equipment</a>
            </h5>
          </div>

          <div id="faq-a-02" class="collapse " aria-labelledby="faq-q-02"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>To obtain the cost of the equipment simply call us at <span>1-877-257-9094.</span></p>


            </div>
          </div>
        </div>
        <!--FAQ 03 STARTS-->
        <div class="card">
          <div class="card-header" id="faq-q-03">

            <!--question starts-->
            <h5 class="mb-0">
              <a class="marker collapsed " data-toggle="collapse" data-target="#faq-a-03"
                 aria-expanded="true" aria-controls="">
                Month to Month</a>
            </h5>
          </div>

          <div id="faq-a-03" class="collapse " aria-labelledby="faq-q-03"
               data-parent="#accordion">
            <div class="card-body">

              <!--Anzwer starts-->
              <p>Return the Equipment: Once the equipment is received, in good condition, all monthly billing will stop
                and there will be no further obligations. Please allow sufficient time prior to your monthly due date to
                avoid being billed an additional month. The return address is as follows:</p>
              <ul>
                <li><b>First Data Hardware Services</b></li>
                <li> Attn: Terminal Returns</li>
                <li>Lease Number: ###-#######-###</li>
                <li> 1169 Canton Road</li>
                <li> Marietta, GA 30066</li>
              </ul>


            </div>
          </div>
        </div>


      </div>
    </div>


  </div>


</div>



