.ftrBtnWrap .btn.disabled, .ftrBtnWrap .btn:disabled{
    opacity: .6;
    background: #999999;
    color:#000000;
}

.ftrBtnWrap .btn:not(:disabled):not(.disabled){opacity: 1;
    background: #0072ce;
    color:white;}

    .your-epp div{
        padding: 10px;
        border:1px solid red;
        margin: 10px;
      }
      
      .leaseCardSelected{
        border: 1px solid green !important;
      }
      .slick-slide{
        width: 180px;
        }